// Compile "main.scss" as "css/main.css"

/**
 * Import Bootstrap sources
 * https://getbootstrap.com/docs/5.2/customize/sass
 */

// @import "../node_modules/bootstrap/scss/bootstrap"; // Include all of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// Options
$enable-dark-mode: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-caret: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-smooth-scroll: true;

$spacer: 1rem;

// Grayscale vars
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Color vars
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

// Fonts
$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
	'Liberation Sans', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed: Uncomment components to reduce the filesize
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/accordion';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/offcanvas';
@import '../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

/**
 * General
 */

body {
	&.page-template-page-full {
		#main {
			max-width: 100%;
		}
	}

	/* If WP-Adminbar is visible */
	&.admin-bar {
		#header.fixed-top {
			top: var(--wp-admin--admin-bar--height);
		}

		.edit-link a {
			color: #fff !important;
			font-weight: normal !important;
			text-decoration: none !important;

			&::before {
				content: '\270E';
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}

img {
	vertical-align: middle;
}

/**
 * WordPress customization
 */

/* WordPress Embeds */

.post-thumbnail,
.wp-video,
.embed-responsive {
	margin: 5px 0;
	width: 100% !important;
}

.post,
.post-thumbnail {
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Header */

#header {
	.search-form {
		min-width: 250px;
	}
}

.navbar-brand {
	img {
		height: 40px;
	}
}

.navbar-static-top {
	margin-bottom: $grid-gutter-width;
}

/* Main */

#main {
	margin-top: $spacer;
}

/* Footer */

#footer {
	background-color: #fff;

	p {
		margin-top: 10px;
	}

	.menu-item {
		a {
			&[aria-current='page'] {
				color: $link-hover-color;
			}
		}
	}
}

/* Sidebar */

.widget-area {
	ul {
		list-style: none;
		padding: 0;
	}
}

/* Author */

.author-avatar {
	.avatar {
		width: 64px;
		height: auto;
	}
}

.author-info {
	margin: 40px 0;

	h2,
	h3 {
		margin-top: 0;
	}
}

/* Posts */

.sticky {
	.card {
		background-color: $gray-100;
	}
}

.entry-meta {
	font-size: small;
	margin-top: ($grid-gutter-width * 0.5);
}

.single {
	.entry-content,
	.post-navigation,
	#comments-title {
		margin: $grid-gutter-width 0;
	}
}

#comments {
	margin-top: $grid-gutter-width;
}

.comment-meta {
	height: 40px;
}

.comment-reply-title {
	margin: $grid-gutter-width 0 ($grid-gutter-width * 0.5);
}

.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;

	> li.comment {
		margin: 0 0 1.625em;
		padding: 1.625em;
		position: relative;
	}

	.children {
		list-style: none;
		margin-top: $grid-gutter-width;

		> li.comment {
			border-top: 1px solid $gray-300;
			padding-top: $grid-gutter-width;
			position: relative;
		}
	}

	.avatar {
		width: 64px;
		height: 64px;
		border-radius: 50%;
		box-shadow: 0 1px 2px $gray-600;
		padding: 0;
		position: absolute;
		top: 0;
		left: -102px;
	}
}

/* WordPress Blocks */

// Buttons

.wp-block-button {
	&.is-style-outline {
		.wp-block-button__link {
			@extend .btn;
			@extend .btn-outline-primary;
		}
	}

	&.btn-lg {
		.wp-block-button__link {
			@extend .btn-lg;
		}
	}
	&.btn-sm {
		.wp-block-button__link {
			@extend .btn-sm;
		}
	}

	.wp-block-button__link {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
	}
}

// Table

.wp-block-table {
	td,
	th {
		border: inherit;
	}

	table {
		@extend .table;
	}
}

// Image, Media and Text

.wp-block-image,
.wp-block-media-text__media {
	img,
	video {
		height: auto;
	}
}

/**
 * Responsive Design using "mixins/_breakpoints.scss"
 */

@media (max-width: breakpoint-max(sm)) {
	#sidebar {
		margin-top: 60px;
	}
}








/**
 * CUSTOM SCSS RULES TO GO HERE"
 */

$white: #fff;
$black: #000;
$yellow: #FFF200;
$dark-grey: #777777;
$light-grey: #BBBBBB;


.slick-track{
	display: flex;
    flex-direction: row;
}
// .slick-slide{
// 	width: 200px;
// }
body {
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white;

	* * {
		transition: 0.3s all ease-in-out;
	}

	header {
		nav {
			&#header {
				background: black !important;
				padding: 10px 0;
				height: 88px;

				.container {
					padding: 0 16px;

					@include media-breakpoint-up(sm) {
						padding: 0 20px;
					}

					@include media-breakpoint-up(md) {
						padding: 0 32px;
					}

					@include media-breakpoint-up(lg) {
						padding: initial;
						padding-left: calc(var(--bs-gutter-x)*.5);
						padding-right: calc(var(--bs-gutter-x)*.5);
					}

					@include media-breakpoint-down(lg) {
						max-width: none;
					}
				}

				#navbar {
					#menu-header-navigation{
						margin: 0 auto;

						@include media-breakpoint-up(lg) {
							border-top: none;
						}
					}
				}
	
				.navbar-brand {
					margin: 0 auto;

					@include media-breakpoint-up(lg) {
						margin: 0;
					}

					img {
						height: 52px;
						margin-left: -37px;

						@include media-breakpoint-up(sm) {
							margin-left: 0;
							margin-right: -69px;
						}

						@include media-breakpoint-up(lg) {
							margin-right: 0;
							margin: 0;
						}
					}
				}

				.navbar-toggler {
					border: none;

					.navbar-toggler-icon {
						display: inline-block;
						height: 1.5em;
						vertical-align: middle;
						width: 1.5em;
						color: white;
					}
				}

				.mobile-navbar-toggler {
					background: transparent;
					border: none;

					// i {
					// 	color: white;
					// 	font-size: 2em;
					// }

					span {
						&.bar {
							background: #fff;
							display: block;
							height: 2px;
							margin-bottom: 5px;
							width: 26px;
							padding: 2px;

							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}

					&[aria-expanded="true"] {
						span {
							&.bar {
								margin-bottom: -4px;
								
								&:nth-of-type(1) {
									transform: rotate(45deg);
								}
								&:nth-of-type(2) {
									opacity: 0;
								}
								&:nth-of-type(3) {
									transform: rotate(-45deg);
								}
							}
						}
					}
				}

				.cta {
					color: black;
					background-color: white;
					padding: 8px 16px;
				}
			}


		}
	
		&.main-header {
			background: black;
			border-bottom: 3px solid white;
		}
		
		#navbar {
			background-color: #000;
			position: absolute;
			left: 0;
			top: 100%;
			width: 202px;
			z-index: 3;	
			overflow: hidden;
			transition: top 0.5s;

			@include media-breakpoint-up(md) {
				width: 226px;
			}

			@include media-breakpoint-up(lg) {
				background: transparent;
				width: auto;
				overflow: visible;
				position: static;
				padding-bottom: 0;
				display: block;
			}

			.navbar-brand {
				margin: 0 auto;
			}

			.active.collapse.show {
				padding-bottom: 42px;

				ul {
					border-top: 3px solid white;
				}
			}

			ul {
				display: flex;
				flex-direction: column;
				height: auto;
				padding: 0px 20px;

				@include media-breakpoint-up(md) {
					padding: 0 32px;
				}

				@include media-breakpoint-up(lg) {
					flex-direction: row;
					padding: 0;
				}
				
				li {
					border-bottom: 2px solid white;

					@include media-breakpoint-up(lg) {
						border: none;
						border-right: 1px solid white;
					}

					&:first-of-type {
						padding-top: 42px;

						@include media-breakpoint-up(lg) {
							padding-top: 0;
						}
					}
		
					&:last-of-type {
						border-right: none;
						// padding-left: 25px;
					}

					@include media-breakpoint-up(sm) {
						&:nth-of-type(4) {
							border-bottom: none;
						}
					}
		
					a {
						&.nav-link {
							display: inline-flex;
							color: white;
							padding: 0;
							border-bottom: 3px solid transparent;

							&:hover {
								border-bottom: 3px solid $yellow;
							}

							@include media-breakpoint-up(lg) {
								// padding-left: 25px;
								// padding-right: 25px;
								padding: 0;
								margin: 0 24px;
								margin-bottom: -3px;
								line-height: 15px;
							}
						}
					}

					@include media-breakpoint-up(lg) {
						display: flex;
						align-items: center;
					}
		
					&.menu-cta {
						a {
							background: white;
							color: black;
							// padding-left: 30px;
							// padding-right: 30px;
							padding: 8px 16px;
							border-bottom: none;
							
							@include media-breakpoint-up(lg) {
								margin-left: 21px;
								padding: 8px 30px;
								line-height: normal;
							}

							&:hover {
								background: $dark-grey;
								color: white;
								border-bottom: none;
							}

							&:active {
								background: $light-grey;
								color: white;
							}

							&:focus {
								color: black;
								background: white;
								outline: 3px solid $yellow;
							}
						}
					}
				}
			}
			
			a.get-in-touch {
				position: relative;
				display: block;
				margin-top: 21px;

				@include media-breakpoint-up(sm) {
					display: none;
				}
			}

			@include media-breakpoint-down(lg) {

				&:not(.active) {
					ul{
						height: 0;
					}

					.get-in-touch {
						display: none;
					}
				}

				&.active{
					ul{
						height: auto;
						border-top: 3px solid white;
					}

					.get-in-touch {
						display: inline-block;
						margin: 0 20px;
						margin-top: 21px;
						margin-bottom: 40px;

						@include media-breakpoint-up(sm) {
							display: none;
						}
					}
				}

			}
		}
	}
	
	main#main {
		margin-top: 0;

		.content {

			img {
				&.attachment-post-thumbnail {
					width: 100%;
					height: auto;
				}
			}

			a {
				&.cta {
					color: black;
					background-color: white;
					display: inline-flex;
					padding: 8px 16px;
					justify-content: center;
					align-items: center;
					gap: 10px;
					transition: 0.3s all ease-in-out;

					&:hover {
						background-color: $dark-grey;
						color: white;
					}

					&:active {
						background-color: $light-grey;
					}

					&:focus,
					&:focus-within {
						outline: 3px solid $yellow;
					}
				}
			}

			h1 {
				font-weight: bolder;
				max-width: 450px;
				line-height: normal;
				margin-bottom: 32px;

				@include media-breakpoint-up(lg) {
					margin-bottom: 32px;
				}

				span.emphasis {
					font-weight: 100;
				}
			}

			section {
				&.hero {
					display: grid;

					@include media-breakpoint-up(lg) {
						display: flex;
						padding: 64px 0;
					}

					.text-side {
						display: flex;
						align-items: center;
						justify-content: left;
						padding: 4em 2em;

						@include media-breakpoint-up(lg) {
							width: 40%;
							justify-content: end;
							padding-right: 96px;
						}

						.text-side-content {
							max-width: 422px;
						}
					}

					.image-side {
						@include media-breakpoint-up(lg) {
							width: 60%;
							padding-left: 0;
						}

						img, video {
							width: 100%;
						}

						padding-left: 32px;
					}
				}

				&.logo-carousel {
					overflow: hidden; // This is to be changed once sliding function has been implemented
					padding: 50px 0;

					@include media-breakpoint-up(lg) {
						padding: 10px 0;
					}

					@include media-breakpoint-up(xl) {
						padding: 0;
					}

					ul {
						list-style: none;
						display: flex;
						overflow: hidden;
  						animation: scroll 20s linear infinite; 
						width: 100%;
						padding: 0px;

						li {
							margin: 0 72px;
							max-width: 125px;

							img {
								height: 35px;
								width: 125px;
								object-fit: contain;
							}
						}
					}

					// @keyframes scroll {
					// 	0% {
					// 	  transform: translateX(0%);
					// 	}
					// 	100% {
					// 	  transform: translateX(-100%);
					// 	}
					//   }
				}

				&.text-media {
					
					.text-media-content {
						margin: 0 auto;
						display: block;
						// max-width: 1200px;

						@include media-breakpoint-up(md) {
							display: flex;
							margin: 64px auto;
						}

						@include media-breakpoint-up(lg) {
							display: block;
							margin: 72px auto;
						}

						@include media-breakpoint-up(xl) {
							margin: 96px auto;
						}

						.row {
							margin: 0;
						}

						.image-side,
						.text-side {
							width: 100%;

							@include media-breakpoint-up(md) {
								width: 50%;
							}
						}

						.image-side {
							background-size: cover;
							background-repeat: no-repeat;
							background-position: 50%;
							overflow: hidden;
							max-height: 410px;
							position: relative;
    						display: inline-block;
							height: 190px;
							padding: 0;

							@include media-breakpoint-up(sm) {
								height: 210px;
							}

							@include media-breakpoint-down(md) {
								order: 2;
							}

							@include media-breakpoint-up(md) {
								height: 100%;
							}

							@include media-breakpoint-up(lg) {
								height: 340px;
							}

							@include media-breakpoint-up(xl) {
								height: 410px;
							}

							img {
								height: 100%;
								// width: auto;
								width: 100%;
								max-width: 100%;
								object-fit: cover;
							}

							.image-overlay {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: transparent;
								z-index: 1;

								@include media-breakpoint-up(lg) {
									background: linear-gradient(270deg, #000 0%, rgba(14, 17, 17, 0.00) 96.35%);
								}
							}

							&.order-2 {
								.image-overlay {
									background: transparent;

									@include media-breakpoint-up(lg) {
										background: linear-gradient(90deg, #000 0%, rgba(14, 17, 17, 0.00) 96.35%);
									}
								}
							}
						}

						.text-side {
							.text-container {
								margin: 0 auto;
								max-width: 575px;
								padding: 42px 20px;

								// @include media-breakpoint-down(sm) {
								// 	text-align: center;
								// }

								@include media-breakpoint-up(md) {
									padding: 4em 2em;
									padding-top: 0;
								}

								h2 {
									font-size: 22px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									margin-bottom: 24px;
									// margin-bottom: 0;

									// @include media-breakpoint-down(sm) {
									// 	text-align: center;
									// }

									@include media-breakpoint-up(md) {
										margin-bottom: 20px;
										font-size: 24px;
									}

									@include media-breakpoint-up(lg) {
										font-size: 32px;
									}
								}

								p {
									font-size: 15px;
									font-style: normal;
									font-weight: 300;
									line-height: normal;

									@include media-breakpoint-down(sm) {
										// text-align: center;
										margin-bottom: 0;
									}

									@include media-breakpoint-up(md) {
										font-size: 16px;
									}
								}
							}

							.heading-holder {
								display: block;
								margin-bottom: 15px;

								@include media-breakpoint-up(sm) {
									display: inline-flex;
									align-items: center;
								}

								@include media-breakpoint-up(md) {
									display: block;
								}

								img {
									margin: 10px auto;
									width: 45px;

									@include media-breakpoint-up(sm) {
										margin: 0;
									}
								}
							}

							@include media-breakpoint-down(sm) {
								margin: 0;
							}

							&.text-end {
								@include media-breakpoint-up(sm) {
									img {
										order: 2;
										margin-left: 15px;
									}
								}

							}

							&:not(.text-end) {
								@include media-breakpoint-up(sm) {
									img {
										margin-right: 15px;
									}
								}
							}
						}
					}

					&.about {
						.text-media-content {
							margin: 0 auto;
							padding: 32px 0;
							justify-content: center;
							display: flex;

							@include media-breakpoint-down(sm) {
								text-align: center;
							}

							@include media-breakpoint-up(lg) {
								padding: 48px 0;
								max-width: 1050px;
							}

							&:last-of-type {
								// padding-bottom: 48px;
								padding-bottom: 0;

								// @include media-breakpoint-up(sm) {
								// 	padding-bottom: 64px;
								// }

								// @include media-breakpoint-up(md) {
								// 	padding-bottom: 72px;
								// }

								// @include media-breakpoint-up(xl) {
								// 	padding-bottom: 96px;
								// }
							}

							.image-side {
								display: flex;
								justify-content: center;
								align-items: center;
								max-width: 175px;
								height: auto;

								img {
									width: 100%;
									max-width: 100px;
									margin: 0 15px;
								}
							}

							.text-side {
								width: auto;

								.text-container {
									padding: 0;
									max-width: none;
									margin: 0;

									h2 {
										margin: 0;

										@include media-breakpoint-down(sm) {
											text-align: center;
										}
									}

									p {
										@include media-breakpoint-down(sm) {
											text-align: center;
										}
									}
								}
							}
						}
					}
				}

				&.services {
					margin-top: 56px;

					@include media-breakpoint-up(sm) {
						margin-top: 50px;
					}

					@include media-breakpoint-up(md) {
						margin-top: 57px;
					}

					@include media-breakpoint-up(lg) {
						margin-top: 96px;
					}

					.text-area {
						h2 {
							margin-bottom: 35px;
						}

						p {
							text-align: center;
							font-size: 13px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
							margin-bottom: 0;

							@include media-breakpoint-up(sm) {
								font-size: 16px;
							}
						}
					}

					.individual-services {
						overflow-x: scroll;

						#individual-services-carousel {
							margin-top: 48px;

							@include media-breakpoint-up(sm) {
								margin-top: 56px;
							}

							@include media-breakpoint-up(md) {
								margin-top: 48px;
							}

							@include media-breakpoint-up(lg) {
								margin-top: 42px;
							}

							.slick-slide {
								margin: 0 16px;
								width: 150px;

								@include media-breakpoint-up(md) {
									width: 219px;
								}

								img {
									width: 100%;
								}

								.item-content-container {
									width: 150px;
									display: block;

									@include media-breakpoint-up(md) {
										width: 219px;
									}

									a {
										display: block;

										width: 150px;
										height: 110px;

										@include media-breakpoint-up(md) {
											width: 219px;
											height: 160px;
										}

										img {
											object-fit: cover;
											width: 100%;
											
										}
									}
									
									.caption {
										color: white;
										position: static;
										padding-top: 10px;
										width: 100%;

										@include media-breakpoint-up(md) {
											padding-top: 32px;
										}

										h3 {
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											font-size: 16px;

											@include media-breakpoint-up(md) {
												font-size: 22px;
											}
										}
									}
								}
							}
							
							ul.slick-dots {
								margin-top: 48px;
								margin-bottom: 0;
								list-style: none;
								position: static;
								padding: 0;
								display: flex;
								justify-content: center;

								li {
									display: inline-flex;

									&.active {
										background: white;
									}

									button {
										margin: 0 8px;
										border: 2px solid white;
										padding: 4px;
										border-radius: 25px;
										background: transparent;
										font-size: 0;

										&:hover {
											background-color: white;
										}

										&:focus-visible {
											background-color: white;
										}
									}

									&.slick-active {
										button {
											background: white;
										}
									}
								}
							}
						}

						ul.individual-service {
							list-style: none;
							display: flex;
							margin: 30px auto;
							margin-top: 48px;

							@include media-breakpoint-up(sm) {
								margin-top: 55px;
							}

							@include media-breakpoint-up(md) {
								margin-top: 48px;
							}

							@include media-breakpoint-up(lg) {
								margin-top: 42px;
							}

							li {
								text-align: center;
								margin: 0 16px;
								max-width: 220px;

								a {
									color: white;

									img {
										max-width: 220px;
										margin-bottom: 10px;
										width: 150px;
										height: 110px;

										@include media-breakpoint-up(md) {
											width: 219px;
											height: 160px;
											margin-bottom: 20px;
										}
									}

									span {
										display: block;
										// width: 80%;
										// margin: 0 auto;
										font-size: 16px;
										font-weight: 500;

										@include media-breakpoint-up(md) {
											font-size: 22px;
											font-weight: 600;
										}
									}
								}
							}
						}
					}
					
				}

				&.about-intro {
					padding: 72px 0;
					padding-bottom: 32px;

					@include media-breakpoint-up(lg) {
						padding: 96px 0;
						padding-bottom: 93px;
					}

					.container {
						max-width: 1050px;
					}

					.image-side,
					.text-side {
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.image-side {
						margin-bottom: 25px;

						@include media-breakpoint-up(md) {
							margin-bottom: 0;
						}

						img {
							width: 100%;
							max-width: 130px;
							height: auto;

							@include media-breakpoint-up(sm) {
								max-width: 175px;
							}

							@include media-breakpoint-up(md) {
								max-width: 275px;
							}

							@include media-breakpoint-up(lg) {
								max-width: 285px;
							}

							@include media-breakpoint-up(xl) {
								max-width: 350px;
							}
						}
					}

					.text-side {
						margin: 0 auto;
						max-width: 540px;

						@include media-breakpoint-up(md) {
							max-width: 100%;
						}

						p {
							font-size: 16px;
							font-style: normal;
							font-weight: 300;
							line-height: normal;
							max-width: 600px;
							margin-bottom: 0;
						}
					}
				}

				&.faqs {
					margin: 40px auto;

					.text-area {
						h2 {
							text-align: center;
							margin-bottom: 25px;
							font-size: 22px;
							font-weight: 600;

							@include media-breakpoint-up(md) {
								font-size: 32px;
							}

							@include media-breakpoint-up(lg) {
								font-size: 40px;
								font-weight: 700;
							}
						}
					}
					.accordion-item {
						background: transparent;
						border: none;

						.accordion-header {
							background: transparent;
						}

						.accordion-body {
							padding-left: 0;
							border-bottom: 3px solid white;

							p {
								margin-bottom: 0;
							}
						}

						button {
							background: transparent;
							color: white;
							padding: 25px 0;
							border-bottom: 3px solid white;

							&::after {
								filter: brightness(10) saturate(0);
								margin-right: 25px;
							}

							&[aria-expanded="true"]{
								border-bottom: 0px solid transparent;
								box-shadow: none;
							}
						}

						.accordion-body {
							p {
								color: white;
								font-weight: 300;
							}
						}
					}
				}

				&.get-in-touch,
				&.get-in-touch-type {
					text-align: center;
					max-width: 768px;
					margin: 100px auto;
					margin-top: 72px;
					margin-bottom: 48px;

					@include media-breakpoint-up(lg) {
						margin-top: 96px;
					}

					@include media-breakpoint-up(xl) {
						margin-bottom: 64px;
					}

					.stats-holder {
						padding: 0 16px;
						width: 100%;
						max-width: 350px;
						margin: 0 auto;

						@include media-breakpoint-up(sm) {
							padding: 0;
							max-width: none;
						}
					}

					h2 {
						font-weight: 700;
						margin-bottom: 32px;

						p {
							margin-bottom: 0;
						}

						@include media-breakpoint-up(lg) {
							font-size: 40px;
						}
					}

					p {
						&.lead {
							font-size: 16px;
							margin-bottom: 0;
						}
					}

					hr {
						border: 2px solid white;
						opacity: 1;
						margin: 32px auto;
						width: 100%;

						@include media-breakpoint-up(sm) {
							margin: 24px auto;
						}

						@include media-breakpoint-up(md) {
							margin: 16px auto;
						}
					}

					.contact-stats {
						max-width: 550px;
						margin: 0 auto;

						.contact-stat {
							margin-bottom: 25px;

							@include media-breakpoint-up(md) {
								margin-bottom: 0;
							}

							a {
								color: white;
								font-weight: 300;

								span {
									border-bottom: 2px solid transparent;
									margin-bottom: -2px;
								}

								img {
									margin-right: 24px;
									margin-top: -5px;
								}

								&:hover {
									span {
										border-bottom: 2px solid $yellow;
									}
								}
							}
						}
					}

					#enquiry-dropdown {
						margin: 0 auto;
						margin-top: 32px;
						margin-bottom: 64px;
					}
					
					#content-container {
						.enquiry-content {
							display: none;
					
							&.active {
								display: block;
							}
						}
					}

					select {
						-webkit-appearance: none; /* Safari and older versions of Chrome */
						-moz-appearance: none; /* Firefox */
						appearance: none; /* Modern browsers */
						width: 156px;
						padding: 10px;
						border-radius: 0;
						padding-right: 25px;
						background-image: url('/wp-content/themes/graphic-point-full-site/assets/images/chevron-export.png');
						background-size: contain;
						background-position: center;

						@include media-breakpoint-up(sm) {
							width: 202px;
						}

						option {
							-webkit-appearance: none; /* Safari and older versions of Chrome */
							-moz-appearance: none; /* Firefox */
							appearance: none; /* Modern browsers */
							background-color: #f2f2f2;
							color: #333;
						}
					}
					
				}

				&.contact {
					width: 100%;
					max-width: 768px;
					margin: 0 auto;

					form {
						width: 100%;
						max-width: 768px;
						text-align: center;
						padding: 0 16px;

						@include media-breakpoint-up(md) {
							padding: 0 24px;
						}

						select {
							-webkit-appearance: none; /* Safari and older versions of Chrome */
							-moz-appearance: none; /* Firefox */
							appearance: none; /* Modern browsers */
							width: 156px;
							padding: 10px;
							border-radius: 0;
							padding-right: 25px;
							background-image: url('/wp-content/themes/graphic-point-full-site/assets/images/chevron-export.png');
							background-size: contain;
							background-position: center;

							@include media-breakpoint-up(sm) {
								width: 202px;
							}

							option {
								-webkit-appearance: none; /* Safari and older versions of Chrome */
								-moz-appearance: none; /* Firefox */
								appearance: none; /* Modern browsers */
								background-color: #f2f2f2;
    							color: #333;
							}
						}

						label {
							width: 100%;
							font-size: 12px;
							text-align: left;

							input,
							textarea {
								background: transparent;
								color: white;
								border: 1px solid white;
								width: 100%;
								padding: 5px;
								margin-top: 5px;
								font-weight: 300;
								font-size: 18px;
							}

						}

						p {
							margin-bottom: 32px;
							text-align: left;
						}

						.wpcf7-submit {
							display: block;
							margin: 0 auto;
							padding: 5px 20px;
							background-color: white;
							margin-top: 32px;
							border: 2px solid transparent;
							border-radius: 0;
							color: black;

							&:hover {
								color: white;
								background-color: $dark-grey;
							}

							&:active {
								color: black;
								background-color: $light-grey;
							}

							&:focus,
							&:focus-within {
								color: black;
								background-color: white;
								border: 2px solid $yellow;
								// margin: -2px;
							}

							@include media-breakpoint-up(sm) {
								margin-top: 48px;
							}
						}

						.wpcf7-response-output {
							border-color: $yellow;
						}

					}
				}

				&.our-work {
					margin-top: 72px;
					text-align: center;

					@include media-breakpoint-up(lg) {
						margin-top: 96px;
					}

					h2 {
						font-size: 24px;
						margin-bottom: 32px;

						@include media-breakpoint-up(md) {
							font-size: 32px;
						}

						@include media-breakpoint-up(lg) {
							font-size: 40px;
							font-weight: 700;
						}

						p {
							margin: 0;
						}
					}

					p {
						&.lead {
							font-size: 16px;

							@include media-breakpoint-up(lg) {
								margin-bottom: 0;
							}
						}
					}		

					.work-slides {
						margin-top: 30px;
						margin-bottom: 48px;
						border-bottom: none;

						@include media-breakpoint-up(lg) {
							margin-top: 52px;
						}

						.drop-down-select {
							padding: 10px;
							background-color: #fff;
							width: min-content;
							position: relative;
							cursor: pointer;
							margin: 0 auto;
							min-width: 275px;
							display: inherit;
							margin-bottom: 32px;

							@include media-breakpoint-up(lg) {
								display: none;
							}
						
							&__active {
								display: flex;
								flex-direction: row;
						
								svg {
									position: absolute;
									right: 10px;
									top: 17px;
								}
							}
							
							p {
								color:#010203;
								width: max-content;
								margin-bottom: 0px;
								font-family: Poppins;
								font-size: 16px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								margin-right: 25px;
							}
						
							ul {
								margin-bottom: 0 !important;
								overflow: hidden;
								position: absolute;
								z-index: 3;
								background-color: #fff;
								padding: 0px;
								margin: 0px;
								width: 100%;
								left: 0px;
								height: 0px;
								display: flex;
								flex-direction: column;
						
								li.nav-item {
									padding: 4px 5px;

									a.nav-link {
										font-size: 16px;
										padding: 0;
									}
								}
							}
						
							a {
								color: #000 !important;
								font-family: Poppins;
								font-size: 16px;
								font-style: normal;
								font-weight: 300 !important;
								line-height: normal;

								&:hover {
									background-color: $yellow;
								}
							}
						
							&.active{
								ul{
									height: auto;
									padding: 10px;
									padding-top: 21px;
								}

								svg{	
									transform: rotate(180deg);
								}
							}
						}
						

						ul {
							&.nav {
								border-bottom: none;
								margin: 0 auto;
								margin-bottom: 32px;
								max-width: 768px;

								@include media-breakpoint-up(lg) {
									max-width: 960px;
									margin-bottom: 34px;
								}

								@include media-breakpoint-up(xxl) {
									max-width: none;
								}

								li.nav-item {
									border-right: 1px solid white;
									padding: 4px 5px;

									&:last-of-type {
										border-right: none;
									}

									@include media-breakpoint-up(lg) {
										padding: 0 20px;

										&:nth-child(-n+3) {
											margin-bottom: 20px;
										}
									}

									@include media-breakpoint-up(xxl) {
										&:nth-child(-n+3) {
											margin-bottom: 0;
										}
									}

									a.nav-link {
										font-weight: 300;
										// padding: 0 20px;
										// margin: 20px 0;
										padding: 0;
										color: white;
										border: none;
										border-bottom: 2px solid transparent;
										border-radius: 0;
										margin-bottom: -2px;
										transition: 0.3s all ease;

										&:hover {
											border-bottom: 2px solid $yellow;
										}

										&.active {
											font-weight: 700;

											@include media-breakpoint-up(lg) {
												background: transparent;
											}
										}
									}

									&:last-of-type {
										a {
											border-right: none;
										}
									}
								}
							}
						}

						.flexslider {
							img {
								width: 100%;
							}
						}

						.carousel-inner { 
							height: 100%;
							max-height: 800px;

							.carousel-item {
								max-height: 800px;
								justify-content: flex-start;
								align-items: center;
								// height: 270px;
								display: flex;
								flex-direction: column;

								@include media-breakpoint-up(md) {
									// height: 347px;
									// height: 800px;
									height: auto;
								}

								@include media-breakpoint-up(lg) {
									height: 630px;
									// display: flex;
									flex-direction: row;
									justify-content: center;
								}

								@include media-breakpoint-up(xxl) {
									height: 905px;
								}

								img {
									max-width: 100%;
									// height: auto;
									height: 100%;
									object-fit: cover; /* Maintain aspect ratio and cover the container */
									object-position: center;

									@include media-breakpoint-up(lg) {
										height: 100%;
									}

									@include media-breakpoint-up(xxl) {
										// height: auto;
									}
								}

								.carousel-image-container {
									width: 100%;
									height: 270px;
									overflow: hidden;

									@include media-breakpoint-up(md) {
										height: 347px;
									}
	
									@include media-breakpoint-up(lg) {
										height: 630px;
									}
	
									@include media-breakpoint-up(xxl) {
										height: 905px;
									}
								}

								.carousel-caption {
									background: $black;
									width: 100%;
									max-width: 700px;
									// padding: 25px 50px;
									padding: 32px 16px;
									padding-bottom: 0;
									bottom: 50px;
									margin: 0 auto;
									position: initial;

									@include media-breakpoint-up(sm) {
										padding: 32px 20px;
										padding-bottom: 0;
									}

									@include media-breakpoint-up(md) {
										padding: 32px 49px;
										padding-bottom: 0;
									}

									@include media-breakpoint-down(lg) {
										// position: absolute;
										left: 0;
										right: 0;
										width: 100%;
									}

									@include media-breakpoint-up(lg) {
										position: absolute;
										padding: 32px;
									}

									@include media-breakpoint-up(xl) {
										padding: 32px 50px;
									}

									h5 {
										font-size: 22px;
										margin-bottom: 15px;

										&::after {
											content: '.';
											color: $yellow;
											display: inline-block;
										}
									}

									p {
										font-size: 15px;
										font-style: normal;
										font-weight: 300;
										line-height: normal;
										margin-bottom: 0;
									}
								}
							}
						}

						.carousel-indicators {
							margin-bottom: 0;
							top: 230px;
							height: 15px;

							@include media-breakpoint-up(md) {
								top: 315px;
							}

							@include media-breakpoint-up(lg) {
								margin-bottom: 18px;
								top: auto;
							}

							li {
								display: block;
								padding: 3px;
								border: 3px solid white;
								border-radius: 100%;
								margin: 0 8px;
								margin-top: 2px;
								height: 12px;
								transition: 0.3s all ease;

								&.active {
									background: white;
									transition: 0.3s all ease;
								}

								&:hover {
									background-color: white;
								}
							}
						}

						.carousel-control-prev,
						.carousel-control-next {
							position: relative;
							background: transparent;
							width: 15px;
							height: 15px;
							opacity: 1;
							margin: 0 16px;

							@include media-breakpoint-up(lg) {
								height: auto;
							}
						}

						.carousel-fade .carousel-item {
							position: relative;
							opacity: 0;
							transition: opacity 0.6s ease-in-out;
						}
						
						.carousel-fade .carousel-item.active {
							opacity: 1;
						}
						
					}
					
				}

				&.submit-artwork-intro {
					margin-top: 72px;
					text-align: center;

					@include media-breakpoint-up(lg) {
						margin-top: 96px;
					}

					.container {
						padding: 0 16px;

						@include media-breakpoint-up(sm) {
							padding: 0 20px;
						}

						@include media-breakpoint-up(md) {
							padding: 0 32px;
						}

						@include media-breakpoint-up(lg) {
							padding-left: calc(var(--bs-gutter-x)*.5);
							padding-right: calc(var(--bs-gutter-x)*.5);
						}
					}

					h2 {
						font-size: 22px;
						margin-bottom: 32px;

						p {
							font-weight: 600;
							margin-bottom: 0;
						}

						@include media-breakpoint-up(md) {
							font-size: 32px;
						}	

						@include media-breakpoint-up(lg) {
							font-size: 40px;

							p {
								font-weight: 700;
							}
						}	
					}

					h3 {
						margin: 24px auto;
						font-size: 16px;
						text-align: left;
						line-height: normal;
						margin-bottom: 32px;
						margin-top: 51px;

						@include media-breakpoint-up(sm) {
							margin-bottom: 21px;
							margin-top: 44px;
						}

						@include media-breakpoint-up(md) {
							text-align: center;
							font-size: 22px;
							margin: 72px auto;
						}

						@include media-breakpoint-up(lg) {
							margin: 96px auto;
						}
					}

					p {
						font-weight: 300;

						a {
							color: white;
							font-weight: 600;
							border-bottom: 1px solid white;
							transition: 0.3s all ease;

							&:hover {
								border-bottom: 1px solid $yellow;
							}
						}

						&.larger-files {
							margin-bottom: 0;
						}
					
					}

					ul {
						padding: 0;

						&.checklist {
							list-style: none;
							display: block;

							@include media-breakpoint-up(md) {
								display: flex;
							}

							li {
								&.checklist-item {
									display: flex;
									justify-content: center;
									margin-bottom: 25px;

									@include media-breakpoint-up(md) {
										display: list-item;
										margin-bottom: 0;
										padding: 0 20px;
									}

									@include media-breakpoint-up(lg) {
										padding: 0;
									}

									.img-holder {
										width: 75px;
										height: auto;
										display: block;

										@include media-breakpoint-up(md) {
											height: 100px;
											width: auto;
											margin-bottom: 25px;
										}

										img {
											width: 45px;

											@include media-breakpoint-up(md) {
												width: auto;
											}
										}
									}

									.text-holder {
										// padding: 0 30px;
										text-align: left;

										@include media-breakpoint-up(md) {
											text-align: center;
										}

										@include media-breakpoint-up(lg) {
											border-right: 3px solid white;
										}

										p {
											font-size: 13px;
											line-height: normal;
											width: 100%;
											max-width: 300px;
											margin: 0 auto;

											@include media-breakpoint-up(lg) {
												font-size: 15px;
												padding: 0 24px;
											}

											@include media-breakpoint-up(xxl) {
												padding: 0;
												margin: 0 80px;
											}
										}
									}
								}

								&:last-of-type {
									.text-holder {
										border-right: none;
									}
								}
							}
						}
					}
					
				}

				&.submit-artwork-form {
					margin: 0 auto;
					max-width: 768px;
					width: 100%;

					form {
						width: 100%;
						margin-top: 48px;
						padding: 0 20px;

						@include media-breakpoint-up(sm) {
							margin-top: 72px;
						}

						@include media-breakpoint-up(md) {
							padding: 0 32px;
							margin-top: 56px;
						}

						@include media-breakpoint-up(lg) {
							padding: 0;
						}

						@include media-breakpoint-up(xl) {
							margin-top: 64px;
						}

						label {
							width: 100%;
							font-size: 12px;
							text-align: left;
						}

						p {
							margin-bottom: 32px;
						}

						span {
							input {
								&[type="text"],
								&[type="email"],
								&[type="textarea"] {
									background: transparent;
									border: 1px solid #fff;
									color: #fff;
									font-size: 18px;
									font-weight: 300;
									margin-top: 5px;
									padding: 5px;
									width: 100%;
									border-radius: 0;
								}
							}

							textarea {
								background: transparent;
								border: 1px solid #fff;
								color: #fff;
								font-size: 18px;
								font-weight: 300;
								margin-top: 5px;
								padding: 5px;
								width: 100%;
								border-radius: 0;
							}

							.wpcf7-not-valid-tip {
								margin-top: 10px;
							}
						}

						p {
							span {
								&.form-info {
									font-weight: 300;
									font-size: 15px;

									a {
										color: white;
										font-weight: 700;
										border-bottom: 1px solid white;

										&:hover {
											border-bottom: 1px solid $yellow;
										}
									}
								}
							}

							.wpcf7-file {
								// padding: 8px 30px;
								// border: 2px solid $yellow;
								margin-top: 10px;
							}

							.wpcf7-submit {
								background-color: #fff;
								color: #000;
								padding: 0;
								width: 118px;
								height: 38px;
								border: none;

								&:hover {
									background-color: $dark-grey;
								}
							}
						}
					}
				}

				&.our-work-examples {
					margin: 48px auto;

					@include media-breakpoint-up(md) {
						margin: 72px auto;
					}

					@include media-breakpoint-up(lg) {
						margin: 96px auto;
					}

					.container {
						max-width: 1095px;
						width: 100%;
						margin: 0 auto;

						@include media-breakpoint-down(xl) {
							padding: 0;
						}
					}

					h2 {
						font-size: 22px;
						text-align: center;
						margin-bottom: 0;

						p {
							margin-bottom: 0;
						}

						@include media-breakpoint-up(lg) {
							font-size: 32px;
						}
					}

					#gallery-carousel {
						margin-top: 32px;

						@include media-breakpoint-up(lg) {
							margin-top: 48px;
						}

						.carousel-inner {
							// height: 100%;
							// max-height: 500px;

							height: 323px;

								@include media-breakpoint-up(md) {
									height: 388px;
								}

								@include media-breakpoint-up(lg) {
									height: 474px;
								}
							
							.carousel-item {					
								img {
									height: 100%;
									width: auto;
									object-fit: cover;

									@include media-breakpoint-up(md) {
										// height: auto;
										width: 100%;
									}
								}
							}
						}

						.carousel-indicators {
							li {
								display: block;
								padding: 3px;
								border: 3px solid white;
								border-radius: 100%;
								margin: 0 8px;
								height: 12px;
								transition: 0.3s all ease;

								&.active {
									background: white;
									transition: 0.3s all ease;
								}
							}
							
						}

						&.carousel-fade {
							.carousel-item {
								height: 100%;
								opacity: 0;
								transition: opacity 0.5s ease-in-out;
							}
							.carousel-item.active {
								opacity: 1;
							}
						}
					}
				}

				&.legal-tabs {
					.tabbed-panels {
						padding: 20px;
					
						// Tabs list
						.legal-tab-list {
							list-style: none;
							padding: 0;
							margin: 100px auto;
							display: flex;
					
							// Tab list item
							li {
								width: 100%;
								text-align: center;
								max-width: 175px;
								border-right: 1px solid white;

								&:last-of-type {
									border-right: 0;
								}
					
								// Tab link styles
								a {
									color: white;
									font-weight: 400;
									text-decoration: none;
									padding: 0 15px;
									transition: 0.3s all ease-in-out;
								}
					
								// Active tab styles
								&.active {
									a {
										color: #fff;
										font-weight: 700;
									}
								}
							}
						}
					
						// Tab content styles
						.tab-content {
							display: none;
							padding: 15px;
							border-top: none;
					
							&.active {
								display: block;
							}

							p {
								font-weight: 300;
								line-height: normal;
							}

							a {
								color: white;
								border-bottom: 1px solid white;
							}

							h2, h3 {
								margin: 1em 0;
								margin-top: 1.5em;
							}

						}
					}
				}

				&.services {
					h2 {
						font-size: 22px;
						font-weight: 600;

						@include media-breakpoint-up(sm) {
							font-size: 40px;
							font-weight: 700;
							// text-transform: uppercase;
						}
					}
				}

			}

			.wp-block-button {
				a {
					background: white;
					color: black;
					border-radius: 0;
				}
			}

			.wp-block-media-text {
				margin: 105px 0;

				&__content {
					padding: 4em 2em;
					max-width: 575px;
					margin: 0 auto;

					h2 {
						font-size: 32px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
					}

					p {
						font-family: Poppins;
						font-size: 16px;
						font-style: normal;
						font-weight: 300;
						line-height: normal;
					}
				}
			}
		}
	}

	footer#footer {
		background-color: $black;
		font-weight: 300;
		margin-top: 48px;

		@include media-breakpoint-up(sm) {
			margin-top: 64px;
		}

		@include media-breakpoint-up(md) {
			margin-top: 72px;
		}

		@include media-breakpoint-up(lg) {
			margin-top: 96px;
		}

		.container {
			max-width: 1050px;
			
			@include media-breakpoint-up(md) {
				padding: 50px 0;
				padding-bottom: 0;
			}

			@include media-breakpoint-up(lg) {
				padding: 0 30px;
			}

			@media screen and (min-width: 1024px) {
				padding-left: 36px;
				padding-right: 49px;
			}

			@include media-breakpoint-up(xl) {
				padding: 0;
			}

			.row {
				justify-content: center;
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;

				@include media-breakpoint-up(lg) {
					max-width: none;
				}
			}
		}

		.logo-section {
			img {
				display: block;
				max-width: 200px;
				margin-bottom: 10px;
			}

			span.footer-leading-text {
				display: block;
				color: $white;
				font-size: 13px;
				font-style: normal;
				font-weight: 300;
				line-height: 150%;
				letter-spacing: -0.143px;
			}
		}

		.logo-section-mobile {
			img {
				width: 100%;
			}

			.mobile-footer-leading-text-holder {
				align-items: center;

				.footer-leading-text {
					font-size: 13px;
				}
			}
		}

		.footer-menu-links-holder {
			@include media-breakpoint-down(sm) {
				padding: 0;
			}
		}

		nav.footer-menu-links {
			display: grid; 
			grid-template-columns: 2fr 0fr;

			ul.menu {
				max-width: 280px;
				margin: 0 auto;
				text-align: center;

				@include media-breakpoint-up(md) {
					max-width: none;
					text-align: left;
				}

				li {
					font-size: 13px;
					width: 50%;
					padding: 8px 25px;

					@include media-breakpoint-up(sm) {
						padding: 8px 20px;
					}

					@include media-breakpoint-up(md) {
						padding: 8px 30px;
						font-size: 16px;
						max-width: 500px;
					}

					@include media-breakpoint-up(lg) {
						padding: 8px 30px;
					}

					@include media-breakpoint-up(xl) {
						padding: 8px 40px;
					}

					a.nav-link {
						display: inline-flex;
						color: $white;
						text-align: center;
						border-bottom: 2px solid transparent;
						margin-bottom: -2px;
						padding: 0;
						font-size: 12px;

						&:hover {
							border-bottom: 2px solid $yellow;
						}

						@include media-breakpoint-up(sm) {
							font-size: 13px;
						}

						@include media-breakpoint-up(md) {
							font-size: 16px;
						}
					}

					&:nth-child(odd) {
						float: left;
						
						@include media-breakpoint-up(lg) {
							border-left: 2px solid $white;
						}
					}

					&:nth-child(even) {
						float: right;

						@include media-breakpoint-up(md) {
							border-left: 2px solid $white;
							border-right: 2px solid $white;
						}
					}
				}
			}
			
			
		}

		ul.footer-contact-section {
			list-style: none;
			padding-left: 16px;

			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}

			@include media-breakpoint-down(lg) {
				padding-left: 0;
			}

			li {
				font-size: 13px;
				// margin-bottom: 20px;
				margin-bottom: 16px;

				@include media-breakpoint-up(md) {
					font-size: 16px;
				}

				&:first-of-type {
					margin-top: 8px;
				}

				a {
					color: white;
				}

				&.contact-links {
					a {
						margin-bottom: -2px;
						border-bottom: 2px solid transparent;

						&:hover {
							border-bottom: 2px solid $yellow;
						}
					}
				}
			}

			.socials {
				display: flex;
				justify-content: center;

				@include media-breakpoint-up(md) {
					justify-content: left;
				}

				ul {
					list-style: none;
					display: flex;
					align-items: end;
					padding-left: 0;
					margin-top: 25px;

					@include media-breakpoint-up(md) {
						margin-top: 0;
					}

					li {
						margin-right: 15px;
						margin-top: 0;

						img {
							width: 24px;
							height: 24px;
						}

						@include media-breakpoint-up(md) {
							margin-bottom: 0;
						}
						
						a {
							&:hover {
								filter: saturate(0);
							}
						}
					}
				}
			}
		}

		.logo-section-mobile {
			@include media-breakpoint-up(md) {
				margin-top: 60px;
			}
		}

		.credit {
			background-color: $white;
			color: $black;
			display: block;
			text-align: center;
			padding: 10px;
			font-weight: 300;
			margin-top: 30px;
			font-size: 14px;

			@include media-breakpoint-up(lg) {
				margin-top: 60px;
			}

			a {
				color: black;
				border-bottom: 1px solid transparent;
				transition: 0.3s all ease-in-out;

				&:hover {
					border-bottom: 1px solid #05aaff;
					transition: 0.3s all ease-in-out;
				}
			}
		}
	}

	.cookie-banner {
		align-items: center;
		background-color: $white;
		border-top: 1px solid #fff;
		border-radius: 0;
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 24px 0;
		position: fixed;
		vertical-align: bottom;
		width: 100%;
		z-index: 50;
		height: fit-content;
		top: auto;
		bottom: 0;
		right: 0;
		// transform: translateX(-50%) translateY(0%);
		transform: translateX(0%) translateY(0%);

		.switch {
			display: inline-block;
			height: 18px;
			margin-top: 10px;
			position: relative;
			width: 33px;

			input {
				height: 0;
				opacity: 0;
				width: 0;
			}

			.slider {
				border: 2px solid $black;
				bottom: 0;
				cursor: pointer;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: .4s;

				&:before {
					background-color: $black;
					content: "";
					height: 10px;
					left: 2px;
					position: absolute;
					top: 2px;
					transition: .4s;
					width: 10px;
				}
			}

			.slider.round {
				border-radius: 34px;
				&:before {
					border-radius: 50%;
				}
			}
		}

		input {
			&:checked+.slider {
				background-color: $black;
				&:before {
					background-color: $white;
					transform: translateX(15px);
				}
			}
		}

		.cross {
			color: $black;
			position: absolute;
			right: 25px;
			top: 30px;
			transition: .4s ease;

			&:hover {
				color: $yellow;
				cursor: pointer;
				transform: rotate(180deg);
				transition: .4s ease;
			}
		}

		.container {
			flex-wrap: wrap;

			@include media-breakpoint-down(sm) {
				margin: 0 20px;
			}
		}

		a {
			color: $black;
			-webkit-text-decoration: underline;
			text-decoration: underline;
		}

		.button {
			margin-right: 10px;
			&:hover {
				border: 2px solid #fff;
			}
		}

		&.cmplz-show {
			box-shadow: none;
		}

		.cmplz-close {
			position: absolute;
			top: 24px;
			right: 24px;

			&:hover {
				font-size: 21px;
				line-height: 20px;

				svg {
					line-height: 20px;
					fill: $yellow;
				}
			}

			svg {
				fill: black;
			}
		}
	}

	.cookie-banner__item {
		max-width: 286px;
		margin: 0 auto;
		margin-bottom: 30px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}

		h3 {
			color: $black;
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: inherit;
			margin-bottom: 10px;
			text-align: left;
		}

		p {
			color: $black;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: 300;
			margin: 0;
			text-align: left;
		}
	}

	.cookie-banner__container {
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 100;
	}

	.cookie-banner__button-container {
		display: flex;
		flex-direction: row;
	}

	@media screen and (max-width: 834px) {
		.cookie-banner__item {
			margin-bottom: 20px;
			max-width: none;
		}
		.cookie-banner {
			height: 50%;
			overflow: auto;
		}
		.cookie-banner__item.last {
			// padding-bottom: 80px;
		}
	}

	@media screen and (max-width: 1020px) {
		.cookie-banner {
			height: auto;
			padding: 40px 0 30px;
			.button.btn-one {
				background-color: $black;
				border: 2px solid #fff;
				color: $black;
				font-weight: 400;
				padding: 9px;
				width: 113px;
			}
		}
		.cookie-banner__button-container {
			padding-bottom: 50px;
		}
	}

	&.page-template-page-about {
		header {
			&.main-header {
				border-bottom: none;
			}
		}

		main#main {
			.content {
				img {
					&.attachment-post-thumbnail {
						height: 192px;
						object-fit: cover;

						@include media-breakpoint-up(sm) {
							height: 300px;
						}

						@include media-breakpoint-up(md) {
							height: 414px;
						}

						@include media-breakpoint-up(lg) {
							height: 600px;
						}

						@include media-breakpoint-up(xxl) {
							height: 586px;
						}
					}
				}

				section {
					&.text-media.about {
						img {
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}


a.get-in-touch{
	background-color: #fff;
	color:#000;
	padding: 7px 20px;

	@include media-breakpoint-up(lg) {
		padding: 7px 30px;
	}
}

@include media-breakpoint-down(lg)  {
	#navbar{
		
		li{
			padding: 20px 0px;
		}
		li a.nav-link {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

@include media-breakpoint-down(lg) {
	.desktop-select{
		display: none !important;
	}
	.drop-down-select{
		display: inherit;
	}

	#menu-item-18{
		padding-left: 0px !important;
		display: none;
		a{
			color:#000 !important;
		}
	} 
}
